*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}


body{
    background: radial-gradient(46.24% 46.24% at 50% 50%, #2E2828 0%, rgba(26, 24, 24, 0.91) 100%);

}   

.cinelist-header{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #D60000 49.24%, #F40000 83.87%, #FF0505 99.99%, #FF0000 100%);
    box-shadow: 0px 4px 4px #FF1616;
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    justify-content: space-between;
}

.cinelist-logoname-input-holder{
    display: flex;
    align-items: center;
}

.cinelist-logo-name{
    display: flex;
    font-size: 40px;
    font-weight: 600;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
}

.cinelist-input-holder{
    margin: 0 0 0 3rem;

}

.cinelist-input{
    padding: 10px;
    padding-right: 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #000000;
}


.cinelist-nav-items{
    text-decoration: none;
    font-weight: bold;
    margin: 0 30px;
    cursor: pointer;
    transition: 0.6s all;
}

.cinelist-nav-items:last-child{
    border: 2px solid #ffff;
    border-radius: 10px;
    padding: 10px;
}

.cinelist-nav-items:last-child:hover{
    background-color: #ffff;
    border-style:outset;
    border-color: #f70000a2;
}

.cinelist-nav-items:hover{
    color: #000000;
}

.cinelist-film-post{
    background-color: #FF1616;
    width: calc(100% - 3.5rem);
    height: 200px;
    margin: 8rem 0 0 1.5rem;
}